<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>Movies Comparator</title>
    <meta content="maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="apiapp" ng-cloak class="well">
    <div class="container" ng-controller="MainCtrl">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="header">
                    
                    <h3>Compare movies</h3>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">  
            <div class="col-sm-3">
                <div class="form">
                    
                    <form ng-submit="searchMovie(movie1, movie2)" class="form-horizontal">

                        <input type="text" placeholder="First movie title" ng-model="movie1" ng-required="required" class="form-control form__input">

                        <input type="text" placeholder="Second movie title" ng-model="movie2" ng-required="required" class="form-control form__input">

                        <button type="submit" class="btn btn-info">Compare</button>

                    </form>

                </div><!-- /.form -->
            </div>

   
            <div class="col-sm-8 col-sm-offset-1">
                <div class="score">
                    
                    <div ng-show="sameActors" class="score__list">

                        <h4>Common actors:</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="actor in sameActors">{{ actor }}</li>
                        </ul>    

                    </div>
                    
                    <div ng-show="sameDir" class="score__list">

                        <h4>Common director:</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="director in sameDir">{{ director }}</li>
                        </ul>

                    </div>
                    
                    <div class="score__info score__list">

                        <p>{{ msg }}</p>

                    </div>

                </div>
            </div><!-- /.score -->
        </div><!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-xs-12">
                <div class="latest-search" ng-show="showStorage">
                    
                    <h5>Latest searches:</h5>
                    <ul ng-init="getStorage()" class="list-unstyled">
                        <li ng-repeat="last in showStorage track by $index" class="latest-search__list">
                            {{ last }}<br>
                        </li>
                    </ul>

                </div><!-- /.latest-search -->
            </div>
        </div><!-- /.row -->
   
    </div><!-- /.container -->

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>